
<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>

  <fieldset>
    <!--<legend>Fill out user details</legend>-->
    
    <!--name - username. validate so that there are no spaces! -->
    <div class="field form-group">
      <%= f.label :name, :class => "col-lg-2 control-label"  %> 
      <div class="col-lg-10">   
        <%= f.text_field :name, :class=>"form-control", :placeholder => "Username"   %>
      </div>
    </div>
    
    <!--password-->
    <div class="field form-group">
      <%= f.label :password, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password, :class=>"form-control", :placeholder => "Password" %>
      </div>
    </div>
    
    <!--password confirm-->
    <div class="field form-group">
      <%= f.label 'Confirm', :class => "col-sm-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, :class=>"form-control", :placeholder => "Password Confirmation" %>
      </div>
    </div>
    
    <!--email-->
    <div class="field form-group">
      <%= f.label :email, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :email, :class=>"form-control", :placeholder => "Email address" %>
      </div>
    </div>  
    
    <!--avatar-->
    <div class="field form-group">
      <%= f.label :avatar, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.file_field :avatar %>
      </div>
    </div>
    
    <!--phone-->
    <div class="field form-group">
      <%= f.label :phone, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :phone, :class=>"form-control", :placeholder => "Phone number" %>
      </div>
    </div>
        
    <!--active status-->
    <div class="field">      
        <%= f.hidden_field :bidder, :value => 1, :class => "checkbox" %>      
    </div>

    <!--access type -->
    <div class="field form-group">
      <%= f.label :access, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.select :access, User::ACCESS_TYPES, {prompt: 'Pick Type'}, {:class => "form-control"} %>
      </div>
    </div>

    <!--other info, tagline, or about-->
    <div class="field form-group">
      <%= f.label :info, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :info, rows: 6, :class=>"form-control", :placeholder => "Please enter as detailed of a description as possible."  %>
      </div>
    </div>

    <!--buttons-->
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to 'Back', jobs_path, :class => "btn btn-default" %>
        <%= f.submit :class=>"btn btn-primary" %>        
      </div>
    </div> 
  </fieldset>
<!--</form>-->
<% end %>
<p>Already have an account? <%= link_to 'Login', login_path %></p>



